.input--element {
  position: relative;
}

.input--element input {
  width: 100%;

  padding: 16px 24px;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 25px;

  box-sizing: border-box;

  transition: all 0.3s;
}

.input--element input::placeholder {
  color: #5f5f5f;
  /* font-weight: 600; */
}

.input--element input:focus {
  border: 2px solid #95caff;
  padding-left: 27px;
}

.input--element svg {
  position: absolute;
  top: 16px;
  right: 24px;
}
