.upload-image {
  /* overflow: scroll; */
  cursor: pointer;
  margin-bottom: 20px;
}

.upload-image img {
  height: auto;
  width: 700px;
}

.upload-area {
  text-align: center;
  border: 1px dashed #ececec;
  border-radius: 25px;
  padding: 56px;
}

.upload-area svg {
  margin-bottom: 24px;
}

h3.heading {
  color: #2f2f2f;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 600;
}

.text {
  color: #b0b0b0;
  font-size: 15 px;
}

.text span {
  text-decoration: underline;
  color: #5e5be6;
}
