.upload-image {
  /* overflow: scroll; */
  cursor: pointer;
  margin-bottom: 20px;
}

.upload-image img {
  height: auto;
  width: 700px;
}

.upload-area {
  text-align: center;
  border: 1px dashed #ececec;
  border-radius: 25px;
  padding: 56px;

  transition: all 0.3s;
}

.upload-area:hover {
  border: 2px dashed #5e5be6;
  /* background-color: #cacaf7; */
}

.upload-area:hover .text span {
  color: #5e5be6;
  /* text-decoration: underline; */
  /* font-weight: 600; */
}

.upload-area .text span:before {
  content: "";
  height: 2px;
  width: 0;
  margin-top: 4px;
}

.upload-area:hover .text span:before {
  content: "";
  height: 2px;
  width: 20px;
  display: inline-block;
  background-color: #5e5be6;

  position: absolute;
  bottom: 0;
  transition: all 0.2s;
}

.upload-area svg {
  margin-bottom: 24px;
}

h3.heading {
  color: #2f2f2f;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 600;
}

.text {
  color: #b0b0b0;
  font-size: 15 px;
}

.text span {
  position: relative;
  /* text-decoration: underline; */
  /* color: #5e5be6; */

  /* display: flex;
  justify-content: space-between;
  width: 20px; */
}

.over-dropzone .upload-area {
  border: 3px dashed rgb(1, 238, 255);
  transform: scale(0.95, 0.95);
}
