.create-post {
  padding: 24px 50px;
}

.main-content {
  margin-top: 24px;
  background-color: blanchedalmond;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-content div:first-child {
  overflow: scroll;
}
