.create-post {
  position: relative;

  padding: 24px 50px;
  overflow: hidden;
  height: 100vh;

  background-color: #fff;
}

.main-content {
  margin-top: 24px;
  display: grid;
  gap: 0 20px;
  grid-template-columns: 1fr 1fr;
}

.input-area {
  height: 85vh;
  overflow-y: scroll;
  margin-right: 16px;
}

.crop-image {
  /* position: relative; */
  z-index: 5;
  /* height: 500px; */
}

/* adding new image after cropped */
.add-new-image {
  cursor: pointer;
  background-color: #fcdede;
  margin-bottom: 16px;
  padding: 24px 32px;
  border-radius: 25px;
}
