.create-post {
  padding: 24px 50px;
  overflow: hidden;
  height: 90vh;

  background-color: #fff;
}

.main-content {
  margin-top: 24px;
  display: grid;
  gap: 0 20px;
  grid-template-columns: 1fr 1fr;
}

.input-area {
  height: 85vh;
  overflow-y: scroll;
  margin-right: 16px;
}

.main-content {
}
