.preview {
  height: 85vh;
  overflow: scroll;
  background-color: #fafafa;
  padding: 32px;

  border-radius: 25px;
}

.preview div {
  height: 80%;
  width: auto;
}

.preview img {
  height: auto;
  border-radius: 25px;
  width: 100%;
}
