/* Container */
.user-info {
  display: flex;
  align-items: center;

  transition: all 0.3s;
}

.user-info:hover {
  transform: scale(1.1);
}

.user-info p {
  display: flex;
  flex-direction: column;
}

.user-info img {
  height: 64px;
  width: 64px;
  border-radius: 50%;

  margin-right: 16px;
}

.handle {
  font-weight: 800;
  margin-bottom: 8px;
}

.username {
  font-size: 13px;
  color: #8b8b8b;
}
